:host{
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    

}

div.input{
    position: relative;
    margin-top: 20px;
}

div.input input{
    font-size: 25px;
    padding: 10px 20px;
    text-align: center;
    outline: 0;
}

div.input label{
    position: absolute;
    top:0px;
    left: 10px;
    transform:translateY(-50%);
    padding: 5px 2px;
    background: white;
}